#block {
	margin-top: 50px;
	margin-left: 100px;
}

#add {
	margin-left: 10px;
}

#backBtn {
	margin-right: 30px;
}

.dateOfIssue {
	width: 190px;
}

.model {
	width: 170px;
}
label{
	margin-bottom: 0px;
}
